{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#f5deb3">
<table>
    <tr><td  bgcolor="#daa520" style="width: 1400px"><h1><marquee>HR OPERATION MANAGEMENT</marquee></h1></td></tr></table>
<table align="center">
<tr><th width="60"><a href="/home/" style="text-decoration:none; color:black">Home</a></th>
    <th width="70"><a href="/adminpage/" style="text-decoration:none; color:black">Admin</a></th>
    <th width="70"><a href="/manager/" style="text-decoration:none ;color:black">Manager</a></th>
    <th width="70"><a href="/applicant/" style="text-decoration:none; color:black">Applicant</a></th>
    <th width="70"><a href="/interviewer/" style="text-decoration:none ;color:black">Interviewer</a></th>
    <th width="70"><a href="/hrhead/" style="text-decoration:none ;color:black">HRhead</a></th>
</tr></table>
<table align="center">
    <tr>
        <th><img src="{% static  'image/hr.png2.jpg'%} "  width="300" height="300"></th>
    </tr>

</table>
</body>
</html>