<html>
<head>
<body bgcolor="#f5deb3">
<table>
    <tr><td  bgcolor="#daa520" style="width: 1400px"><h1><marquee>HR OPERATION MANAGEMENT</marquee></h1></td></tr>
</table>

   <tr><h2 ALIGN="center" style="color: red">HRHEAD HOME PAGE</h2></tr><br>


{#    <tr><h4 align="center"><a href="/shortlist/" style="text-decoration: none;color: blue">SHORTLIST APPLICANTS</a></h4></tr>#}
    <tr><h4 align="center">
        <a href="/shortlist1/" style="text-decoration: none;color: blue">VIEW SHORTLISTED APPLICANTS</a></h4>
</tr>
    <tr><h4 align="center"><a href="/vselected/" style="text-decoration: none;color: blue">VIEW SELECTED APPLICANTS</a></h4></tr>
    <tr><h4 align="center"><a href="/vrejected/" style="text-decoration: none;color: blue">VIEW REJECTED APPLICANTS</a></h4></tr>
     <tr><h4 align="center"><a href="{% url 'index' %}" style="text-decoration: none;color: red">LOGOUT</a></h4></tr>

</body>
</head>
</html>