<html>
<head>
<body bgcolor="#f5deb3">
<table>
    <tr><td  bgcolor="#daa520" style="width: 1400px"><h1><marquee>HR OPERATION MANAGEMENT</marquee></h1></td></tr>
</table>
   <tr><h2 ALIGN="center" style="color: red">MANAGER HOME PAGE</h2></tr><br>
    <tr><h4 align="center"><a href="/recuirtment/" style="text-decoration: none;color: blue">RECUIRTMENT</a></h4></tr>
    <tr><h4 align="center"><a href="/interviews/" style="text-decoration: none;color: blue">INTERVIEW SCHEDULE</a></h4></tr>
    <tr><h4 align="center"><a href="{% url 'index' %}" style="text-decoration: none;color: RED">LOGOUT</a></h4></tr>
</body>
</head>
</html>