<html>
<head>
<body bgcolor="#f5deb3">
<table>
    <tr><td  bgcolor="#daa520" style="width: 1400px"><h1><marquee>HR OPERATION MANAGEMENT</marquee></h1></td></tr>
</table>
<table>
    <tr><td align="center"  bgcolor="#ffb6c1" style="width: 1400px" height="10"><h3>RECUIRTMENT SCHEDULE</h3></td></tr></table><br>
<table align="center">
    <tr align="center"><th><a href="/addrec/" style="text-decoration: none;color: blue">NEW RECUIRTMENT DETAILS</a></th></tr><br>
    <tr align="center"><th><a href="/modify/" style="text-decoration: none;color: blue">MODIFYING RECUIRTMENT DETAILS</a></th></tr>
    <tr align="center"><th><a href="/deletep/" style="text-decoration: none;color: blue">DELETING RECUIRTMENT DETAILS</a></th></tr>
{#    <tr><th><a href="/templates/managerloginpage.html/" style="text-decoration: none;color: blue">BACK</a></th></tr>#}

    </table>
</body>
</head>
</html>