<html>
<head>
<body bgcolor="#f5deb3">
<table>
    <tr><td  bgcolor="#daa520" style="width: 1400px"><h1><marquee>HR OPERATION MANAGEMENT</marquee></h1></td></tr>
</table>
   <h2 ALIGN="center" style="color: red">ADMIN SUCCESSFULLY LOGIN </h2>
    <h4 align="center"><a href="/addemployee/" style="text-decoration: none;color: blue">ADD EMPLOYEE</a></h4>
    <h4 align="center"><a href="/viewemployee/" style="text-decoration: none;color: blue">VIEW EMPLOYEE</a></h4>
    <h4 align="center"><a href="/updateemployee/" style="text-decoration: none;color: blue">UPDATE EMPLOYEE</a></h4>
    <h4 align="center"><a href="/deleteemployee/" style="text-decoration: none;color: blue">DELETE EMPLOYEE</a></h4>
    <h4 align="center"><a href="{% url 'index' %}" style="text-decoration: red;color: red">LOGOUT</a></h4>
</body>
</head>
</html>